*{
    margin: 0;
    padding: 0;
}

#content{
    display: flex;
    min-height: 80vh;
}

.category-form{
    margin: auto;
}

.category-filter{
    display: flex;
}

.filter-button{
    margin-top: auto;
    margin-left: 2em;
}

.category-field{
    width: 100%;
}