*{
    margin: 0;
    padding: 0;
}

#content{
    display: flex;
    min-height: 80vh;
}

.category-form{
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

.category-filter{
    display: flex;
}

.filters{
    display: flex;
}

.filter-button{
    margin-top: auto;
    margin-left: 2em;
}

.filter-field{
    width: 100%;
}

.filter-work-field{
    display: flex;
    flex-direction: row;
}

.table{
    font-family: 'Inconsolata', monospace;
}

.order-header{
    display: flex;
}

.order-header a{
    margin-left: auto;
    margin-bottom: auto;
}