.sidebar{
    background-color: #428bca;
    padding: 1em;
    display: flex;
}

.sidebar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    margin: 0 1em 0 1em;
    font-family: 'Oswald', sans-serif;
}

.sidebar a:hover{
    color: #B0413E;
}

.sidebar span{
    color: #eada2b;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}

.right-side-links{
    margin-left: auto;
}

