{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Delete category{% endblock %}

{% block content %}
    <div class="content">

        <form method="post" class="product-form">

            <h2>Are you sure you want to delete this?</h2>

            <hr>

            <div class="details-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ category.getName() }}</h3>
                        <p class="card-text">{{ category.getDescription() }}</p>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Delete</button>
            <a href="{{ path('app_categories') }}" class="btn btn-danger">Cancel</a>

        </form>

    </div>
{% endblock %}