{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Categories{% endblock %}

{% block content %}
    <div class="content">

        <div class="table">
            <button type="button" class="btn btn-success">Add new category</button>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{ category.getId() }}</th>
                        <td>{{ category.getName() }}</td>
                        <td>{{ category.getDescription() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}